<h1>Add a picture</h1>
<%= form_tag @picture do |f| %>
  <div>
  	<%= f.label_tag :artist%><br>
  	<%= f.text_field_tag :artist%>
  </div> 
  <p>
  	<%= f.label_tag :title%><br>
  	<%= f.text_field_tag :title%>
  </p>
  <p>
  	<%= f.label_tag :url%><br>
  	<%= f.text_field_tag :url%>
  </p>
  <p>
  <%= f.submit_tag "Save" %>
  </p>
 <% end %>